.navbar {position: absolute;
    top: 0%;
    width: 100%;
    min-height: 12vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    transition: all 0.7s ease-in;
    font-size: x-large
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
}
.hidden{
    display: none;
}


.logo h1{
    justify-content: flex-start;
    width: 50px;
    font-size: 4ex;
}
.navigation{
    justify-content: center;
}

.navigation ul li {
    display: inline;
    padding: 14px 20px;
   
    
   
} 
.hidden{
    display: none;
}
